<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz 2</title>
</head>
<body>
    <h1>Starwars Database information</h1>
    <form action="" method="GET">
        <fieldset>
            <h2>Category</h2>
            <select name="Category" id="cateogry information">

            </select>
        </fieldset>
    </form>
</body>
</html>